/* SELECTOR: "body", applies style to: <body> and all children */

body {
  background: #ccc;
}

header {
  background: #111;
  color: #f5f5f5;
  padding: 15px;
  text-align: center;
}

/* SELECTOR: <h1> tags inside of a <header> */
header h1 {
  font-size: 28pt;
}

main {
  margin: 25px
}

/* Margin:
  TOP, RIGHT, BOTTOM, LEFT
  TOP &  BOTTOM, LEFT & RIGHT
  ALL THE SAME
*/

p {
  margin: 10px 0px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

main ul, main ol {
  margin-left: 30px;
  margin-bottom: 10px;
}

main ul {
  list-style-type:circle;
}

main ol {
  list-style-type:lower-greek;
}

footer {
  background: rebeccapurple;
  color: #f5f5f5;
  font-size: 16pt;
  padding: 10px;
  text-align:center;
}
